# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
work-buddy-client/node_modules
work-buddy-server/node_modules  

# Raycast specific files
work-buddy-client/raycast-env.d.ts
work-buddy-client/.raycast-swift-build
work-buddy-client/.swiftpm
work-buddy-client/compiled_raycast_swift

# misc
.DS_Store
